language: java
jdk:
- oraclejdk8
sudo: required
services:
  - docker
cache:
  directories:
  - "~/.m2/repository"
  - "./cache"

addons:
  sonarcloud:
    organization: "pro-crafting"
    token:
      secure: "YZGRRRXwp6dLuxRoxzhJw97/uu9G+VLx5p6ARNlRQ4LauIdhlQ/gtTSXQLvL9K3/H6Nwy4XdRUpq2HMZf9cjXTc++T+X9lEK3E9iHcdW2qVHpcpdJefve7m+nu2je/RHN35rqPLLJ/2jwzdT3G2BwM3mSbnIEdsUv5dQe3qT0qFUlTxhTZZgzROz73T/pqNrltia9uj+6bzPAtBa3iEs0DnwPyz7xCAhxneN0FwTAjvaNGOivlKN87LzKBCvlH1tu/z+1EKZmnfI838ZasC6xSASTHA1UVGT/DFypu7A4cbGRSzWpnKKF1WnDZmRMbRMHu3oLxqAh+fgN/cmxJ+UmeT00REqdZHBd5oVe7AnRE0xa9kfHH7rwlz0c+EqaE2ghi9MXeRu7xKqoHQD0YsmQhMJY3aSbWGScU5Cl2fegxZcAQVbZ8XXzb1NW2fkoIVHWCoQXpqGCh9YnrQPTXwfabxKsWhVPVZ2fO54jkO6aojJcUfwdLtFoC4Yy2RkGPNeIodha7cwje7bq79avytV/oWJrBS6KDGddXA8Wf++E1iitG3/tmV9sgGEtC95eLacdQvavi1PTw+ysmWs7vKJtLnQ3nYZoZYKpyaiJAQmzeHcZVTrv7PpwCA3Xex0jHGM88EwK67ZTM+of+Ssx82TuNbLkT9ey51AgCS3wb/qnSs="
      # ^^ SONAR_TOKEN

before_install:
  - export
  - chmod +x cd/*.sh
  - "./cd/before-install.sh"
install: true
jobs:
  include:
    - stage: build
      script:
        - "./cd/build.sh"
        - "./cd/upload-build-context.sh"
    - stage: test
      before_script: "./cd/download-build-context.sh"
      script: "./cd/ws-it.sh"
    - before_script: "./cd/download-build-context.sh"
      script: "./cd/docker-it.sh"
    - stage: deploy
      script:
        - "./cd/deploy.sh"
        - "./cd/after-deploy-clearup.sh"
    - cache: false
      script: "./cd/sonar.sh"

env:
  global:
  - secure: SpXMXoT1brr1lDpZxX+A0rU6XWyu8Gm4Ma5lbX7EOgiHe5iRNiU0HVB3f4nKxG1GwBMeIbazsRNj1HZ9DUg87L4cclDznjvniUVwkwcDFmyhU7HOBsgLbUt/Sjx5fMgP7G7UDmioeMyxpi+KUUKHLq7uUdOhUSxX8mXr7O8M1oiQCWugmDf7bdhchSzcJzRy1nRDlX6g8bCHfsR9E/fS/j3Wv6SYVQ7/OFpTQANhTBSizRR2eeKuUfCecHd2P6wKwiKtu1ZJOilqDo5zk13bsfAxWcK1RKZaZ2R5+48toWmAKV5uiUIqlhIfwQmsLDSKZgamPi1LvZKFdLpu5Cu/432MgmdQtoshMJaDPBb4Y54E+GJP4enSSn62w+G5/KlnhgbMa3UGeKRLcd7yNxaDykeDaPEjZm5Q/+M25niLnoxzUt/eGPYYI6qAt9U8KpHAb8mZclPTfLqQzWldScyrxK16jKPUGsFQzq5fxUIHlgYT+3218VjBbY2D8gJ1x7nkXTQAUsvBvmGCFIi0xCeicg9HFKlHlFQJpo1LxYEFeEITTBbrwhl6c50BRThEW1XSPEFxx+iPcr9ekP0dtcWTxI2roWFHKNldRiWpUrMVrQABjJL+31SpdcaRdRq5tFNc9l/U0BYzLsymL9Bglqx0LQkEmhP36QvxM/hAWagKw8U=
  - # ^^ OSSRH_USERNAME
  - secure: vLeY43eOS4NFLppJmcXnRkVLom3YYMZG/seFR+1cXL1ER0hnNNUpd34SiskLGWVKjOWYTI81v9gxERhCQOTsNZPE3TrqfVry61nK2rCFsfhLGHdLJu5g2DwfkS42FfQRWGS37zpILwdzW+s+lAYLSOgH/XFImGqHsFH9zDGiE57ltcEvHF06EYIezF8hXzs9vfP1Ajb4dq3Jmx7Q2ew/wOq0BZjcNI6URxokx83/piiagwq9MBe0TLK6dc5j5smIL2Qq9SO4lbiJxBAN9afYRFXGa9VE/kPMHFzheFoqyRR30YG0T0XVVJme0EGFzJCk3dduu6dwUHKXA8jNW99gkN2S4+t7ZXGL3QFNPOaAPr4/+O0EyHKCcpZQ/p6elJOszrR2uWyAob75NnTf6HLXmcF8Cawml9X4Zg+i82DLtw4FcX4ENUvdGuKe6ZbxT8UMF/jVGVlybzpqb5eZOUzrLQKHsiattL3gOLz04N0bj8x9XyY1q3IYlsHfD6uGgXE+uAAQbeNM8y5sVHC2spMRTUGrApmuKv8ikpQ4pV0I3JKPPgazS7ADbRb3J6PX4qwUtGv4zZp3+w9LtMikpPt19gkr+4BtwS48IyxEiAgPnsS/k9H/xFrOsbLcgcpDQ0kblwGMeHY8ONVkWAV2VuwwvM11/k5Zp+Y/diuwNUSKtZ4=
  - # ^^ OSSRH_TOKEN
  - secure: Ca2uHj/y3Brb5l+6AwIkJQuQIwbGvGdnjzINWd3IyOna3JQ1LpkS8xKc7F7SRwH93CE0U4hmg0h8qPWxwzBiTRuSCPMPWPeVIoiKW4kJHyxMLoFliD3TOh67shXo/AQB9c9ozu+Rb4kOdG9nX1pBju2PftJ7SbUKA9UO34WdYDHt/InT0B312cIiIVb8/K67FS3HnZKEqtm4BlN8GtrywyIB/9XlhTzsFpIMcVpIgtuf6qskKxkonu7B2JkRycKQXEGMsFdfv3Z6XH0exIzdPmRU+etgafkVKCQlEAlqYWplXrZf4rlXutKbM9Uia5TOc/KKDcdBhf6I84GM6foK5z9eETjn3syTSHyPVzyFptgkJdeziiRmMB0hRATVbkczrb01TWu+LuMtE3EoGRNQM5PLG+QzsKfNddHUpgcUo1G++LfPeWc9GeCx6arArTXCCarKjZ9GSFPbXixWHm3pLySOKUrMof7lM/T00O5LGHmIZHcmBKN/+c17j9q8dE/KS1tRq8f6dX88Qn8pY9sbRFT5H2bmkMQvZcNuyB8Z7AinSgLDXW1WZXQtDaqtV+D19UvGbobwZSzQpyz9otSdOCYl91soVnPBtnHvUg+rUx8jgR/rQJapQw0ZPtLxRAuBrjW+W3jL90TQyEfH0jPOvz34BH55xvPYhKgreNh2kWc=
  - # ^^ GPG_KEY_NAME
  - secure: oLjNxSA3EhInLwTUkZZnuGAGJRg91YRqHdu9/P4aTajzt75XHwA0tpMSDAvOhsySFavcLJwiXorMDRBdgfWjbv3tNykrsjmROltfKkP5RzLmgLLermMSZ4PWCxAShy8LDSUTy7gnJpN6VmpM/KOPoYiiCt6YRY89bhv9a2mAyeUrSUCTaJnA4KcEwM3mu05dOFBr1ZmMMzBEM1AQyIdcSeXnd100XJCR40/Bgp1qiBJbEflWE+wJUbIiT/7gmqAHWWmHIu+0D+A0GvxIsidhFe4rCp0Eh2r8s477DFp1wSK+smXdxvHzmRYuYTHfMp4L837twLhPICo4OtSmqm4BiGIKN5918RwjRounCU6SPXqg91bArgrBkqt5fkdYiu+Uqp6BfWp9zfw+5eTOSGOThmEjJWeMOzRaa8Y8FLQPjNLq9KXM51MxvZEyhzbCq0z5HsrcqzgK+YoC3BUt/X0XAYb0gh1V7Q6c+8lAoXdF6mAabA+WD3hsyCJSaX+5+ZGTLFXM+MQSSzZxZWF1r3k0djwTDCPc0H3m3gYU1nOOqZZXKd7ti4zFo2QQ4e0hZTsG5Dk2G2hDbRB7qHs/5/GnZ9t2dNsNJ94Kb0wWIq2g1rA2Nq7Q94hrjXeNo3+uxu+7SSBUN+pkJNWjb9penbmCyGxvXkPfs/Gso/J7fQxjI9U=
  - # ^^ GPG_PASSPHRASE
  - secure: TjdaRnyZcyu86M06tSoCA4bhcOsubasRjc+X1NaM0V2JLUAcm3YPZwRswA4999jzRIDrIPaX53H55jXsY98wIVmjT5q5uAcNu70qBXvltEHP0JRZO2ANQ2faT6slsTQh0ZjtEl7sAggWfM8GxICcoxNQ84+Z3AWdqTHH0ItYdbZBDN8NtOF6f/GXLd8NYGdE65+HUT6XgV0IhyowtDpvNYPeZ1Tr8weMQWi19PhpRsLmP9qtcM6c4F6Ie0WZDj5xJMMQshbVmSi/vEYfvyXTY9jmIa0kJ3EPH8bVZPU+oXatwyNrO1UyYIF5aOhAMtJBsz9wQLlRKo8tjEMvkdtVo1n5NnEwrXlUoQgr9+JXpB8kvszVj22S30eVigy4UfMjHWOdWwNfORpSsO1TG1vdssxTBAsjrf5rODnBZjdviv6Z1kbK1x3DoAz5QNrLY9RVZOr9psRO/QF3+OjyU/iOENL806By1hg/n0mUYaBiT3pzb/GSvAkJPWSsFo4iltufFimXBgTPr25Kc60U9EWzWn2H57u2NgtB/DAOevpif2G5SO+QSEickqkliMU9Sq1ASbgRTWQ0FTScd9VX7UShGQ5+Q7qTRYp4spTL6zSoXfhg5diETuKdwU48zZiErE/NvwJ/I9/ZXspGtKXxd21mCMwg3QytdzasY87mJUppIFI=
  - # ^^ DOCKER_IO_USERNAME
  - secure: Iq02wQW69S3HpFVvwvZD6oypjJr18hGidZiZjiR81bkh3Pm71O7ljXGPAPONKzKF7BiMgWk6TAi9YCSmCrnxjfdTnvG2iq2R1Mr+ihCbAdi/ucvp66vkrtkUQ3X2B4dxHamPj59WZPrr1XIxd0bCd3gQhZw0j7S57mlIe6HVayT/cseLcAmDu58TGuPr2JEzoO4TsS3/IZvGQhx3RjBTWm8Pk8nh1eERlq+zbi2DN6iqZzpzy+NHAtvJvbxsq/r90ScdJ2uZrTGFIKDrIIikQZ8ss5Np7t/gomsaz6vIeRG54JkhOkwQFs5cW3MK3eDfBtqDiSSb4oPCgvYcU7I9kYXqirP3mzWPMcV8cnkqLuo72Rt0ADYyXNGm2IycmosKhbIjYpiCg7x55HBEnlRBYq/POhSV3zptlBQbO+LZ6DcM48qZgO5gG+ZDyd/MHA5244BL9wQfXcXuIr3dEHjG2TrqTx2MeU+mRWJUgpQWC7U5qgB2p6m178srN071H6UtVn+cHSJ7RrdaFbdyV7aRqB4PasGjh26/CYEY+c1S8bN76u76PfYPhfyTp32uYc6iwIKoQEey+5rGZ0ycPcuYaWkwRxknNYOvyt4adQdk53WNoaDx4207e8pVYq68PrJ941RezhuauuM4MmJ/m+sxuDzyRkXGgQqGLCQbWYVv3C4=
  - # ^^ DOCKER_IO_TOKEN
